appdirs==1.4.2
appnope==0.1.0
decorator==4.0.11
defusedxml==0.5.0
Django==1.10.5
ipdb==0.10.2
ipython==5.3.0
ipython-genutils==0.1.0
oauthlib==2.0.1
packaging==16.8
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.13
ptyprocess==0.5.1
Pygments==2.2.0
PyJWT==1.4.2
pyparsing==2.1.10
python-social-auth==0.3.6
python3-openid==3.1.0
requests==2.13.0
requests-oauthlib==0.8.0
simplegeneric==0.8.1
six==1.10.0
social-auth-app-django==1.1.0
social-auth-core==1.2.0
traitlets==4.3.2
wcwidth==0.1.7
